.footer {
  background-color: #6F42C1;
  /* Roxo primário conforme especificação */
  color: #FFFFFF;
  /* Texto branco conforme especificação */

  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Ajuste a altura conforme necessário */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  /* Certifique-se de que o footer esteja acima do sidenav */
}


.footer-right {
  padding-right: 20px;
  /* Espaçamento à direita */
  text-align: right;
  flex: 1;
  /* Ocupa o espaço necessário */
}


.footer-left {

  padding-left: 200px;

}

.footer-left span {
  display: block;
  /* Garante que cada linha seja exibida como um bloco separado */
  line-height: 1.5;
  /* Espaçamento entre as linhas */
}

.footer-links a {
  color: #FFFFFF;
  /* Texto branco conforme especificação para links */
  text-decoration: none;
  margin: 0 10px;
  /* Espaçamento à direita */
}

.footer-links a:hover {
  text-decoration: underline;
}

.heart {
  color: #E9ECEF;
  /* Cinza claro conforme especificação */
}

.copyright {
  font-size: 12px;


}