<div class="swiper-container" #swiperContainer>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let course of courses">
      <img [src]="course.img" alt="{{ course.title }}">
      <div class="course-details">
        <h3>{{ course.title }}</h3>
        <p>{{ course.description }}</p>
        <p>{{ course.price }}</p>
      </div>
    </div>
  </div>
  <!-- Adicione a navegação -->
  <<button class="control prev" mat-mini-fab aria-label="Previous" (click)="onPreviousClickFree()">
    <mat-icon>arrow_back</mat-icon>
</button>
<button class="control next" mat-mini-fab aria-label="Next" (click)="onNextClickFree()">
    <mat-icon>arrow_forward</mat-icon>
</button>
</div>
