.mat-card-container {
    display: inline-flex;
    margin-top: 15px;
    justify-content: center; /* Centraliza horizontalmente os cards */
    flex-wrap: wrap; /* Permite que os cards "quebrem" linha se necessário */
}

.card-course {
    width: 300px;
    height: auto; /* Ajusta a altura automaticamente ao conteúdo */
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos filhos horizontalmente */
    text-align: center; /* Centraliza o texto */
}

.card-course h2, .card-course h3 {
    margin: 0;
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos filhos horizontalmente */
    padding: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos filhos horizontalmente */
    text-align: center; /* Centraliza o texto */
    padding: 5px;
}

.card-content img {
    width: -10px;
    opacity: .8;
    transition: .2s;
    margin-bottom: 15px; /* Adiciona espaço abaixo da imagem */
}

.card-content img:hover {
    opacity: 1;
}

.card-description {
    text-align: left; /* Alinha o texto da descrição à esquerda */
}


/* Adicione isso ao seu arquivo CSS */
.image-small {
    width: 100px; /* Defina a largura desejada */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
  }
  


  //button 
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 50%; /* Ajusta a largura do formulário */
  }
  
  .search-input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    color: #343A40; /* Texto Preto */
    max-width: 300px; /* Define uma largura máxima para o input */
  }
  
  .search-button {
    background-color: #6F42C1; /* Roxo */
    color: #FFFFFF; /* Branco */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
  }
  
  .search-button mat-icon {
    font-size: 24px;
  }
  