<mat-toolbar class="header mat-elevation-z4">
    <div class="logoandtitle">
        <img src="assets/img/logo2.png" alt="logo" class="logo">
        <h1 class="title">CodeConnect</h1>
    </div>
    <span class="spacer"></span> <!-- Espaçador para empurrar os ícones para a direita -->
    <span class="iconsimport">
        <a mat-icon-button [matMenuTriggerFor]="notificationsMenu" aria-label="Notifications">
            <mat-icon matBadge="15" matBadgeColor="primary">notifications</mat-icon>
        </a>
        <mat-menu #notificationsMenu="matMenu">
            <app-notification-list></app-notification-list>
          </mat-menu>
        <a mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile menu">
            <mat-icon>account_circle</mat-icon>
        </a>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-menu-item routerLink="/certificates">
                <mat-icon>import_contacts</mat-icon>
                <span>Certificados</span>
            </button>
            <button mat-menu-item routerLink="/" >
                <mat-icon>logout</mat-icon>
                <span>Sair</span>
            </button>
        </mat-menu>

        <a mat-icon-button routerLink="/settings">
            <mat-icon>settings</mat-icon>
        </a>
    </span>
</mat-toolbar>
