<div class="container">

    <div class="cadastro-container">
        <mat-card class="cadastro-card">
            <div class="content">
                <h2> CodeConnect</h2>
                <h1>Cadastro</h1>
                <p>Cadastra-se na conta.</p>
            </div>

            <div class="forms">
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput>
                        <mat-hint>Insira o nome completo</mat-hint> <!-- Dica para o primeiro campo -->
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput>
                        <mat-hint>Email válido</mat-hint> <!-- Dica para o segundo campo -->
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Idade</mat-label>
                        <input matInput>
                        <mat-hint>Sua idade</mat-hint> <!-- Dica para o terceiro campo -->
                    </mat-form-field>
                </mat-card-content>
            </div>
        </mat-card>

    </div>

</div>