.container {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;

}


.cadastro-container {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
   // width: 300px;
    width: 100%;
}



.cadastro-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: white;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
     width: 500px;     
}



h1 {
    font-size: 2.3em;
    font-weight: 700;
    margin: 0.5em 0;
    
    color: #343A40;

}

h2 {
    font-size: 1.1em;

    text-transform: uppercase;
    color: #6F42C1;
 
}

p {
    font-size: 1.1em;
    color: #6F42C1;

}

mat-form-field {
    width: 100%;
    margin-bottom: 0em;
}

.hint {
    font-size: 0.7em; /* Tamanho da fonte menor */
    color: black; /* Cor das dicas */
    margin-top: 0.2em; /* Espaço entre o campo e a dica */
    margin-bottom: 1em; /* Espaço inferior para separar da próxima entrada */
}


mat-card-content{
    display:flex;
    flex-direction: column;
    align-items: flex-end; /* Alinha os campos ao lado direito */
    width: 100%;

}


.example-button-row {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    margin-top: 20px;
  }
  
  .button {
 
  //  width: 110px; /* Largura do botão */
 //   height: 30px; /* Altura do botão */
   border-radius: 10%; /* Torna o botão circular */
  
   
  }
  

  