

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch; /* Deixe os itens esticarem para ocupar a altura total */
    /* Ocupa 100% da altura da janela */
}


/* cadastrousuario.component.css */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .left-panel {
    flex: 1;
    
  }
  
  .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 100%;
    height: 100vh;

  }
  
//
