<div class="about-us-container">
    <mat-card class="about-us-card">
      <div class="content">
        <h2>About Us</h2>
        <h1>Helping businesses succeed through the power of video.</h1>
        <p>
          Video is the future of business in this digital-focused world. Our company uses video to change the way companies connect and communicate. We help organizations of all sizes humanize their communications and personalize their customer experiences.
        </p>
        <button mat-raised-button color="primary">Sign Up for Free</button>
      </div>
      <img src="assets/img/imgestudo.jpg" alt="logo" class="logo">
    </mat-card>
  </div>
  