/* Estilização básica */
body, html {
    height: 100%;
    margin: 0;
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Estrutura em coluna */
}





.content-container{
   
    width: 100%;
    background-color:  white;
    flex-grow: 1; /* Permitir que o conteúdo principal cresça */
   // min-height: calc(100vh - 100px); /* Garante que o conteúdo ocupe o espaço acima do footer */
}

