/* Estilização básica */
body, html {
    height: 100%;
    margin: 0;
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Estrutura em coluna */
}



.content-container{
   
    height:  100vh;
    background-color:  white;
    flex-grow: 1; /* Permitir que o conteúdo principal cresça */
   // min-height: calc(100vh - 100px); /* Garante que o conteúdo ocupe o espaço acima do footer */
}


.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o container ocupe a altura total da tela */
}

