.hidden {
    display: none;
  }


  .container{
    background-color: #fff;
  
   


  }


.title-card{
  display: flex;
  justify-content: center;
}



img{
 width: 100px;

  
}


.mat-card-content{
  display: flex;

}



.container-esquerda {
  display: flex;
  align-items: center;
}

.container-direita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto; /* Move o conteúdo para o lado direito */
  text-align: right; /* Opcional: alinha o texto à direita */

}
