.container {
  background-color: #f9f9f9;
  width: 100%;

 
}

.carousel-container {
  background-color: #f9f9f9;


  /* Borda de exemplo */

}

.cards-carousel{
   margin-bottom: 20px;
   display: flex ;
   flex-direction: column;
   align-items: center;
  

 
}

.carousel {


  position: relative;
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
  /* Borda de exemyplo */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;

}



mat-card {

  width: 100%;
  flex: 0 0 calc(50% / 1);
  padding: 5px;
  display: flex;
  align-items: center;

}



mat-card img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

mat-card a:hover img {
  transform: scale(1.1);
  /* Ajuste o valor para controlar o quanto a imagem aumenta */
}



.control {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  /* Fundo branco */
  border-radius: 50%;
  /* Torna o botão arredondado */
  width: 40px;
  /* Ajuste o tamanho conforme necessário */
  height: 40px;
  /* Ajuste o tamanho conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra opcional */
}

.control mat-icon {
  color: #6F42C1;
  /* Cor da seta */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.control:hover {
  background-color: #f0f0f0;
  /* Mudança de cor ao passar o mouse, opcional */
}

h2 {
  margin-top: 30px;
}



.subtitle {
  padding-left: 16px;


}