

mat-toolbar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 90px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #6F42C1;
    padding: 0px;
    width: 100%;
}



.iconsimport {
    display: flex;
}

.iconsimport a {

    text-decoration: none;
    color: #f2f2f2;
    display: flex;
    align-items: center;
}


.title {
    color: #f2f2f2;
}



.spacer {
    flex: 1;
}

.header a {
    text-decoration: none;
    color: #f2f2f2;
    display: flex;
    align-items: center;
}



.logo {
    width: 150px;
    margin-right: -30px;


}


.title {
    font-size: 1.5rem;
}

.logoandtitle {
    display: flex;
    align-items: center;
    padding: 0px;
}