<div class="container">
    <div class="cadastro-container">
        <mat-card class="cadastro-card">
            <div class="content">
                <h2>CodeConnect</h2>
                <h1>Login</h1>
                <p>Entrar na conta.</p>
            </div>

            <div class="forms">
                <mat-card-content>

                    <mat-form-field>
                        <mat-label>Email Válido</mat-label>
                        <input matInput [(ngModel)]="usuario.email">
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input matInput [(ngModel)]="usuario.senha">
                    </mat-form-field>
                    <p>Ainda não faz parte? <a routerLink="/cadastro-usuario">Cadastre-se</a></p>

                </mat-card-content>


       

                <!-- Botão para inserir usuário -->
                <div class="example-button-row">
                    <button mat-raised-button class="button" color="primary"
                        (click)="logar(usuario.email,usuario.senha)">Login</button>
                </div>


            </div>

            <!-- Exemplo de botão -->

        </mat-card> <!-- Correção: Fechando a tag mat-card corretamente -->
    </div>

    
</div>