<div class="course-container">
  <!-- Verifica se há cursos no carrinho -->
  <ng-container *ngIf="listSelectedCourses.length > 0; else emptyCart">
    <!-- Renderiza os cursos no carrinho -->
    <button mat-menu-item *ngFor="let course of listSelectedCourses">
      <mat-icon>shopping_cart</mat-icon>
  
      <div #card>
        <mat-card-content class="mat-card-content">
          <div class="container-esquerda">
            <!-- Imagem do curso -->
            <img src="{{ course.imgLink }}" class="image-small" alt="Imagem do curso" />
          </div>
  
          <div class="container-direita">
            <!-- Título do curso -->
            <mat-card-title>
              <h2>{{ course.name }}</h2>
            </mat-card-title>
  
            <!-- Subtotal do curso -->
            <mat-card-subtitle>
              <h2>Subtotal: {{ course.price | currency }}</h2>
            </mat-card-subtitle>
          </div>
        </mat-card-content>
      </div>
    </button>
  </ng-container>

  <!-- Template alternativo caso o carrinho esteja vazio -->
  <ng-template #emptyCart>
    <p>Carrinho Vazio</p>
  </ng-template>
</div>

<!-- Botão "Finalizar" -->
 <div *ngIf="listSelectedCourses.length > 0">
  <div class="button-fim">
  <button  (click)="comprar()" class="finalize">Finalizar</button>
</div>
</div>


