/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f9;
}

/* Cabeçalho */
.cabeçalho {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px; /* Adicionado espaçamento superior */
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #6F42C1;
    margin-top: 20px; /* Adicionado espaçamento superior */
}

/* Formulário de busca */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #343A40;
    outline: none;
}

.search-button {
    background-color: #6F42C1;
    color: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
}

.search-button:hover {
    background-color: #5a32a3;
}

/* Listagem de cursos */
.teste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}

.card-course {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 15px;
    text-align: center;
}

.card-course:hover {
    transform: scale(1.05);
}

.card-course h2 {
    font-size: 1.5rem;
    color: #333;
}

.card-course h3 {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

.image-small {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.description {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
    text-align: left;
}

/* Botão do carrinho */
.carrinho-button {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.carrinho-button button {
    background-color: #28a745;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.carrinho-button button:hover {
    background-color: #218838;
}
