<div class="about-us-container">

  <mat-card class="about-us-card">
    <div class="content">
      <h2>Sobre Nós</h2>
      <h1>Aprender não tem idade nem pré-requisitos.</h1>
      <p>
        O CodeConnect nasceu com a missão de mostrar que qualquer pessoa pode aprender e evoluir no mundo da
        tecnologia. Criado como um projeto universitário, hoje buscamos atingir todos que desejam uma plataforma
        intuitiva, com cursos e materiais de qualidade para impulsionar seu conhecimento.
      </p>
      <button mat-raised-button color="primary">Cadastre-se Gratuitamente</button>
    </div>
    <img src="assets/img/imgestudo.jpg" alt="CodeConnect" class="logo">
  </mat-card>

  <mat-card class="about-us-card">
    <div class="content">
      <h2>Nossa Missão</h2>
      <h1>Empoderar pessoas por meio da educação e tecnologia.</h1>
      <p>
        Nosso objetivo é fornecer soluções inovadoras que ajudem indivíduos e organizações a alcançarem seus objetivos,
        expandirem seus conhecimentos e evoluírem em suas carreiras.
      </p>
      <button mat-raised-button color="primary">Saiba Mais</button>
    </div>
    <img src="assets/img/mission.jpg" alt="Nossa Missão" class="logo">
  </mat-card>

  <mat-card class="modern-card">
    <div class="modern-content">
      <h2>Faça Parte da Nossa Comunidade</h2>
      <p>
        Junte-se a uma comunidade apaixonada por aprendizado e tecnologia! Fique por dentro das últimas tendências do
        setor, conecte-se com profissionais e compartilhe experiências.
      </p>
      <div class="cta-buttons">
        <button mat-raised-button color="accent">Comece Agora</button>
        <button mat-stroked-button color="primary">Saiba Mais</button>
      </div>
    </div>
    <div class="modern-image-container">
      <img src="assets/img/community.jpg" alt="Comunidade CodeConnect" class="modern-logo">
    </div>
  </mat-card>

</div>
