<div class="about-us-container">

  <mat-card class="about-us-card">
    <div class="content">
      <h2>About Us</h2>
      <h1>Helping businesses succeed through the power of video.</h1>
      <p>
        Video is the future of business in this digital-focused world. Our company uses video to change the way
        companies connect and communicate. We help organizations of all sizes humanize their communications and
        personalize their customer experiences.
      </p>
      <button mat-raised-button color="primary">Sign Up for Free</button>
    </div>
    <img src="assets/img/imgestudo.jpg" alt="logo" class="logo">
  </mat-card>

  <mat-card class="about-us-card">
    <div class="content">
      <h2>Our Mission</h2>
      <h1>Empowering individuals through innovative solutions.</h1>
      <p>
        Our mission is to provide innovative solutions that empower individuals and organizations to achieve their goals
        and drive progress in their fields.
      </p>
      <button mat-raised-button color="primary">Learn More</button>
    </div>
    <img src="assets/img/mission.jpg" alt="mission" class="logo">
  </mat-card>

  <mat-card class="modern-card">
    <div class="modern-content">
      <h2>Join Our Community</h2>
      <p>
        Be a part of our community and stay updated with the latest trends and insights in the industry. Connect with
        like-minded professionals and share your experiences.
      </p>
      <div class="cta-buttons">
        <button mat-raised-button color="accent">Get Started</button>
        <button mat-stroked-button color="primary">Learn More</button>
      </div>
    </div>
    <div class="modern-image-container">
      <img src="assets/img/community.jpg" alt="community" class="modern-logo">
    </div>
  </mat-card>
</div>