.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    width: 100%;
    padding: 10px;

  }
  
  .search-container button {
    padding: 10px;
  }
  
  .course-list {
    margin-top: 20px;
  }
  